<h1>Xiaosi Gu, PhD</h1>
	<%= link_to "Google Scholar", "http://scholar.google.co.uk/citations?user=gdn245QAAAAJ&hl=en" %>
	<%= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed?cmd=historysearch&querykey=1" %>
	<%= link_to "Research Gate", "http://www.researchgate.net/profile/Xiaosi_Gu/" %>
	<%= link_to "LinkedIn", "http://www.linkedin.com/pub/xiaosi-gu/17/91b/2a1" %>